<div class="template" ng-controller="EditController" ng-click="closeColorPicker($event)" ng-keydown="saveShortcut($event)" tabindex="0">
    <div ng-if="modal.type"
         class="modal-background"
         tabindex=0
         ng-keyup="$event.keyCode == 27 && removeModal()"
         ng-click="removeModal($event)">
    </div>
    <div class="tree-visualization tree-visualization--tree">
        <div class="toolbar-header">
        </div>
        <div class="tree">
            <div class="icons-div">
                <i class="icon icon-tint icon-grey"
                    title="Change color scale"
                    ng-click="displayColorPicker = !displayColorPicker">
                </i>
                <img class="icon"
                     src="/plugins/model-error-analysis/resource/img/fit.png"
                     title="See whole tree" ng-click="zoomFit()"
                     height="20px">
                </img>
                <img class="icon"
                     src="/plugins/model-error-analysis/resource/img/100.png"
                     title="Zoom on selected node"
                     ng-click="selectedNode && zoomBack()"
                     height="20px">
                </img>
            </div>
            <div class="color-picker" ng-show="displayColorPicker">
                <div class="row-color-picker row"
                     ng-repeat="(name, scale) in scales"
                     ng-class="{'border-selected': scale == selectedScale}"
                     ng-click="scale != selectedScale && setScale(name)">
                    <ul class="color-bars-small color-bars">
                        <li ng-repeat="(targetValue, color) in displayScale(scale)"
                            class="color-bar"
                            ng-style="{'background': color}"></li>
                    </ul>
                    <div>{{name}}</div>
                </div>
            </div>
            <spinner ng-if="loadingTree"></spinner>
        </div>
    </div>
    <div class="histogram-panel" ng-include="'/plugins/model-error-analysis/resource/templates/histograms.html'" ng-if="selectedNode.id && !loadingHistogram"></div>
    <div class="empty-panel" ng-if="selectedNode && !selectedNode.id">
        <div>
            Select a node
        </div>
    </div>
</div>
