<div class="template" ng-controller="EditController" ng-click="closeColorPicker($event)" ng-keydown="saveShortcut($event)" tabindex="0">
    <div ng-if="modal.type"
         class="modal-background"
         tabindex=0
         ng-keyup="$event.keyCode == 27 && removeModal()"
         ng-click="removeModal($event)">
    </div>
    <div class="tree-visualization tree-visualization--tree">
        <div class="toolbar-header" ng-class="{'toolbar-header--expanded': displayText}">
            <div class="expandable-introduction-text" ng-class="{'expandable-introduction-text--expanded': displayText}">
                <div class="expand-text" ng-click="displayText = !displayText">
                    <span class="link">
                        How does it work ?
                        &nbsp;<i ng-class="{'icon-chevron-down': !displayText, 'icon-chevron-up': displayText}"></i>
                    </span>
                </div>
                <div class="introduction-text" ng-if="displayText">
                    Model Error Analysis highlights the subpopulations where your model (the primary model) makes the majority of errors.
                    <p>
                        A Decision Tree has been trained with the primary model correctness as the target, on its test set.  
                        If the primary model is a classification, a prediction is correct if the predicted value is the correct class.
                        If the primary model is a regression, a prediction is correct if the predicted value is not too far from the correct one. 
                    </p>
                    <p>
                        The leaves of the tree hence partition the primary model test samples into groups with similar feature values and correctness.
                        Selecting a leaf will show you detailed statistics regarding the errors in the leaf subset compared to the whole set.
                        See the <a class="link">Plugin documentation&nbsp;<i class="icon-external-link"></i></a>.
                    </p>
                </div>
            </div>
            <div ng-class="{'metrics': !displayText, 'metrics--expanded': displayText}">
                <div class="metric">
                    <span class="metric__value">0.965</span>
                    <div>
                        <div class="metric__name">Estimated accuracy</div>
                        <span class="metric__explanation" ng-if="displayText">Proportion of samples the primary model predicts correctly</span>
                    </div>
                </div>
                <div class="metric">
                    <span class="metric__value">0.978</span>
                    <div>
                        <div class="metric__name">Actual accuracy</div>
                        <span class="metric__explanation" ng-if="displayText">Proportion of samples the Decision Tree predicts as correct predictions</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="tree">
            <div class="icons-div" ng-class="{'icons-div--offset': displayText}">
                <i class="icon icon-tint icon-grey"
                    title="Change color scale"
                    ng-click="displayColorPicker = !displayColorPicker">
                </i>
                <img class="icon"
                     src="/plugins/model-error-analysis/resource/img/fit.png"
                     title="See whole tree" ng-click="zoomFit()"
                     height="20px">
                </img>
                <img class="icon"
                     src="/plugins/model-error-analysis/resource/img/100.png"
                     title="Zoom on selected node"
                     ng-click="selectedNode && zoomBack()"
                     height="20px">
                </img>
            </div>
            <div class="color-picker" ng-show="displayColorPicker">
                <div class="row-color-picker row"
                     ng-repeat="(name, scale) in scales"
                     ng-class="{'border-selected': scale == selectedScale}"
                     ng-click="scale != selectedScale && setScale(name)">
                    <ul class="color-bars-small color-bars">
                        <li ng-repeat="(targetValue, color) in displayScale(scale)"
                            class="color-bar"
                            ng-style="{'background': color}"></li>
                    </ul>
                    <div>{{name}}</div>
                </div>
            </div>
            <spinner ng-if="loadingTree"></spinner>
        </div>
    </div>
    <div class="histogram-panel" ng-include="'/plugins/model-error-analysis/resource/templates/histograms.html'" ng-if="selectedNode.id && !loadingHistogram"></div>
    <div class="empty-panel" ng-if="!selectedNode">
        <div>
            Select a node
        </div>
    </div>
</div>
