<div class="section" style="padding-top: 10px" ng-if="selectedNode.id">
    <div class="header">
        <div class="header-decision-rule header-div">
            Decision rule
        </div>
        <div class="legend-container">
            <svg height="20px" width="50%">
                <g>
                    <rect height="20" width="8" fill="{{selectedScale[0]}}"></rect>
                    <rect height="20" width="8" x="8" fill="{{selectedScale[1]}}"> </rect>
                    <text x="36" y="14">Local</text>
                </g>
            </svg>
            <svg height="20px" width="50%">
                <g>
                    <rect class="color-bar__global-legend" height="20" width="8" fill="{{selectedScale[0]}}"></rect>
                    <rect class="color-bar__global-legend" height="20" width="8" x="8" fill="{{selectedScale[1]}}"> </rect>
                    <text x="36" y="14">Global</text>
                </g>
            </svg>
        </div>
    </div>
    <div class="info-section">
        <div class="info" ng-repeat="rule in decisionRule" title="{{rule.full}}"><span ng-if="decisionRule.length > 1 && $index">↳</span>&nbsp;{{rule.ellipsed}} </div>
    </div>
</div>

<div class="histograms">
    <div ng-repeat="feature in rankedFeatures">
        <div class="header header-split-edit">
            <div class="header-feature-desc  header-div header-div--uppercase">
                <i class="icon-font" ng-show="!features.hasOwnProperty(feature)"></i>
                <div class="numerical" ng-show="features.hasOwnProperty(feature)">#</div>
                <div class="ellipsed-text" title="{{feature}}">&emsp;{{feature}}</div>
            </div>
        </div>

        <div class="histogram-placeholder histogram-placeholder-empty" ng-if="histData[feature].count.length == 0">
            <em>No values</em>
        </div>
        <div histogram="{{feature}}" class="histogram-placeholder" ng-if="histData[feature].count.length > 0">
            <div class="histogram-svg"></div>
        </div>
    </div>
</div>