<div class="selected-node-info">
    <div class="decision-rule-section" ng-if="decisionRule.length > 0">
        <div class="header">
            <div class="decision-rule__header header-div">
                Selected samples
            </div>
        </div>
        <p>
            <strong>{{ selectedNode.samples[0] }}</strong> samples at the selected node (<strong>{{ toFixedIfNeeded(selectedNode.samples[1], 2, true) }}%</strong> of all the samples).
        </p>
        <div class="decision-rule__subheader">
            Defined by
        </div>
        <div class="info-section" ng-class="{'info-section--expanded': displayRule}">
            <div class="info" ng-repeat="rule in decisionRule" title="{{ rule.left + ' ' + rule.middle + ' ' + rule.right }}">
                <span ng-if="$index">↳&nbsp;</span>
                <div class="ellipsed-text" ng-class="{'no-shrink-no-grow': rule.numerical, 'no-grow': !rule.numerical}" ng-if="rule.left">{{ rule.left }}&nbsp;</div>
                <div class="ellipsed-text" ng-class="{'no-shrink-no-grow': !rule.numerical, 'no-grow': rule.numerical}">{{ rule.middle }}&nbsp;</div>
                <div class="ellipsed-text" ng-class="{'no-shrink-no-grow': rule.numerical, 'no-grow': !rule.numerical}" ng-if="rule.right">{{ rule.right }}</div>
            </div>
        </div>
        <div ng-show="decisionRule.length > 3">
            <span class="link" ng-click="displayRule = !displayRule">
                Show {{ displayRule ? 'less' : 'more' }}<i class="chevron" ng-class="{'icon-chevron-down': !displayRule, 'icon-chevron-up': displayRule}"></i>
            </span>
        </div>
    </div>
    <div class="statistics-section">
        <div class="placeholder-node">
            <svg height="100%" width="100%"></svg>
        </div>
        <div>
            <p>
                <strong>{{ toFixedIfNeeded(selectedNode.localError*100, 2, true) }}%</strong> of the selected samples are wrong predictions.
            </p>
            <p>
                They represent <strong>{{ toFixedIfNeeded(selectedNode.global_error*100, 2, true) }}%</strong> of all the wrong predictions.
            </p>
        </div>
    </div>
</div>

<div class="histograms-container">
    <div class="legend-container">
        <div class="feature-selector" ng-click="$event.stopPropagation()">
            <span class="feature-selector__title" ng-click="interactWithFeatureSelector(featureSelectorShown)">Feature distribution <i ng-class="{'icon-caret-down': !featureSelectorShown, 'icon-caret-up': featureSelectorShown}"></i></span>
            <div class="feature-selector__body" ng-if="featureSelectorShown">
                <div class="feature-selector-row" ng-click="feature.$selected = !feature.$selected" ng-repeat="feature in rankedFeatures">
                    <input type="checkbox" ng-model="feature.$selected" ng-click="$event.stopPropagation()">
                    &nbsp;
                    <i class="icon-font" ng-show="!feature.numerical"></i>
                    <div class="numerical" ng-show="feature.numerical">#</div>
                    <div class="ellipsed-text">&nbsp;{{ feature.name }}</div>
                </div>
            </div>
        </div>
        <div class="legend-details">
            <svg height="20px" width="120px">
                <g>
                    <rect class="color-bar color-bar--error" x="4"></rect>
                    <rect class="color-bar color-bar--correct" x="12"> </rect>
                    <text x="24" y="15">Selected samples</text>
                </g>
            </svg>
            <svg height="20px" width="90px">
                <g>
                    <rect class="color-bar color-bar--error color-bar__global-legend" x="4"></rect>
                    <rect class="color-bar color-bar--correct color-bar__global-legend" x="12"> </rect>
                    <text x="24" y="15">All samples</text>
                </g>
            </svg>
        </div>
    </div>
    <div class="histograms">  
        <div ng-repeat="feature in rankedFeatures | orderBy: 'rank'" ng-if="feature.$selected">
            <div class="header header-feature">
                <div class="header-feature-desc header-div header-div--bolder">
                    <i class="icon-font header__icon" ng-show="!feature.numerical"></i>
                    <div class="numerical header__icon" ng-show="feature.numerical">#</div>
                    <div class="ellipsed-text" title="{{feature.name}}">{{feature.name}}</div>
                </div>
            </div>
            <div class="histogram-placeholder histogram-placeholder-empty" ng-if="histData[feature.name] && histData[feature.name].count.length == 0">
                <em>No values</em>
            </div>
            <div class="histogram-placeholder histogram-placeholder-empty" ng-if="!histData[feature.name] && featureSelectorShown">
                <em>Chart data not yet loaded</em>
            </div>
            <div class="histogram-placeholder" ng-if="!histData[feature.name] && !featureSelectorShown">
                <spinner></spinner>
            </div>
            <div histogram="{{feature.name}}" class="histogram-placeholder" ng-if="histData[feature.name] && histData[feature.name].count.length > 0">
                <div class="histogram-svg"></div>
            </div>
        </div>
    </div>
</div>
