<div class="section" style="padding-top: 10px" ng-if="selectedNode.id">
        <div class="header header-border-light">
            <div class="header-feature-desc header-div">
                Decision rule
            </div>
        </div>
        <div class="info-section info-section-decision-rule">
            <div class="info" ng-repeat="rule in decisionRule" title="{{rule.full}}"><span ng-if="decisionRule.length > 1 && $index">↳</span>&nbsp;{{rule.ellipsed}} </div>
        </div>
    </div>
<div class="histograms">
    <div ng-repeat="feature in rankedFeatures">
        <div class="header header-split-edit header-border-light">
            <div class="header-feature-desc header-div">
                <i class="icon-font" ng-show="!features.hasOwnProperty(feature)"></i>
                <div class="numerical" ng-show="features.hasOwnProperty(feature)">#</div>
                <div class="ellipsed-text" title="{{feature}}">&emsp;{{feature}}</div>
            </div>
        </div>

        <div class="histogram-placeholder histogram-placeholder-empty" ng-if="histData[feature].count.length == 0">
            <em>No values</em>
        </div>
        <div histogram="{{feature}}" class="histogram-placeholder" ng-if="histData[feature].count.length > 0">
            <div class="histogram-svg"></div>
        </div>
    </div>
</div>