<foreignObject>
    <div class="tooltip-container"
        ng-class="{'tooltip-rp-container': inRightPanel, 'tooltip-tree-container': !inRightPanel && !inHistogram, 'tooltip-histogram-container': inHistogram}">
        <div class="tooltip-main" ng-class="{'tooltip-histogram-main': inHistogram}">
            <div ng-if="inHistogram">
                <div class="info tooltip-title ellipsed-text">{{binName}}</div>
            </div>
            <div ng-if="inRightPanel">
                <strong>{{ samples[0] }}</strong> samples (<strong>{{ toFixedIfNeeded(samples[1], 2, true) }}%</strong> of the whole dataset).
            </div>
            <div ng-if="inRightPanel">
                Global error (% wrong predictions over total) is <strong>{{ toFixedIfNeeded(globalError, 2, true) }}%</strong>.
            </div>
            <div ng-if="inRightPanel">
                Local error (% wrong predictions over node samples) is <strong>{{ toFixedIfNeeded(localError, 2, true) }}%</strong>.
            </div>
            <div class="section-inline" ng-if="!inRightPanel">
                <div class="section-title">
                    {{ inHistogram ? 'Error' : 'Local error' }} 
                    <span class="bullet" ng-style="{'background-color': '#CE1228'}"></span>
                </div>
                <div class="info">
                    <span class="no-wrap-text small-text">{{ toFixedIfNeeded(localError, 2, true) }}%</span>
                </div>
            </div>
            <div class="section-inline" ng-if="!inRightPanel">
                <div class="section-title">Samples</div>
                <div class="info samples">
                    <div class="info-samples-absolute ellipsed-text small-text" title="{{samples[0]}}">{{samples[0]}}</div>
                    <em class="very-small-text" ng-if="samples[1]">&nbsp;({{ toFixedIfNeeded(samples[1], 2, true) }}%)</em>
                </div>
            </div>
        </div>
    </div>
</foreignObject>
