<foreignObject>
    <div class="tooltip-container"
        ng-class="{'tooltip-rp-container': inRightPanel, 'tooltip-tree-container': !inRightPanel && !inHistogram, 'tooltip-histogram-container': inHistogram}">
        <div class="tooltip-main" ng-class="{'tooltip-histogram-main': inHistogram}">
            <div>
                <div class="info tooltip-title ellipsed-text" ng-if="inHistogram">{{binName}}</div>
                <div>
                    <div class="info" ng-repeat="proba in probabilities">
                        <div class="bullet" ng-style="{'background-color': colors[proba[0]]}"></div>
                        <span class="no-wrap-text small-text">{{proba[0]}}</span>
                        <span >&nbsp; {{proba[1].toFixed(3)}}</span>
                    </div>
                </div>
            </div>
            <div ng-if="inRightPanel">
                <strong>{{ samples[0] }}</strong> samples (<strong>{{ toFixedIfNeeded(samples[1], 2, true) }}%</strong> of the whole dataset).
            </div>
            <div ng-if="inRightPanel">
                Global error (% wrong predictions in total) is <strong>{{ toFixedIfNeeded(globalError, 2, true) }}%</strong>.
            </div>
            <div class="section-inline" ng-if="!inRightPanel">
                <div class="section-title">Samples</div>
                <div class="info samples">
                    <div class="info-samples-absolute ellipsed-text small-text" title="{{samples[0]}}">{{samples[0]}}</div>
                    <em class="very-small-text" ng-if="samples[1]">&nbsp;({{ toFixedIfNeeded(samples[1], 2, true) }}%)</em>
                </div>
            </div>
        </div>
    </div>
</foreignObject>
