<div class="template" ng-controller="MeaController" ng-click="interactWithFeatureSelector(true)" ng-keydown="interactWithFeatureSelector(true, $event)" tabindex="0">
    <div ng-if="modal.type"
         class="modal-background"
         tabindex=0
         ng-keyup="$event.keyCode == 27 && removeModal()"
         ng-click="removeModal($event)">
    </div>
    <div class="histogram-panel no-shrink-no-grow" ng-include="'/plugins/model-error-analysis/resource/templates/histograms.html'"></div>
    <div class="tree-visualization">
        <div class="toolbar-header">
            <div class="toolbar-header__row">
                <div class="metrics">
                    <div class="metric">
                        <div class="metric__value" ng-show="actualErrorRate">{{ toFixedIfNeeded(100*actualErrorRate, 2, true) }}%</div>
                        <div class="metric__value" ng-show="!actualErrorRate">&hellip;%</div>
                        <div>
                            Actual proportion of wrong predictions from the original model (Original model error rate)
                        </div>
                    </div>
                </div>
            </div>
            <div class="toolbar-header__row">
                <div class="tree-legend-container">
                    <div class="tree-legend">
                        <div class="tree-legend_item">
                            <svg height="100%" width="32px">
                                <g>
                                    <path id="edge-legend" d="M0,0 C0,12 24,12 24,28"></path>
                                    <text>
                                        <textPath href="#edge-legend" startOffset="50%">X</textPath>
                                    </text>
                                </g>
                            </svg>
                        </div>
                        <div class="tree-legend-desc">
                            <span class="tree-legend-desc-full">% of all the wrong predictions in the selected samples</span>
                        </div>
                    </div>
                    <div class="tree-legend">
                        <div class="tree-legend_item tree-legend_pie">
                            <svg height="100%" width="32px"></svg>
                        </div>
                        <div class="tree-legend-desc">
                            <span class="tree-legend-desc-full">% of selected samples that are wrong predictions</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="toolbar-header__row toolbar-header__icon-row">
                <div class="icons-div">
                    <span ng-if="zoomBackHovered || zoomFitHovered">
                        {{ zoomBackHovered ? 'Zoom on selected node' : ''}}{{ zoomFitHovered ? 'See whole tree' : ''}}
                    </span>
                    <img class="zoom-icon"
                        src="/plugins/model-error-analysis/resource/img/fit.png"
                        ng-mouseover="zoomFitHovered = true"
                        ng-mouseleave="zoomFitHovered = false"
                        ng-click="zoomFit()"
                        height="20px">
                    </img>
                    <img class="zoom-icon"
                        ng-class="{'zoom-icon--disabled': !selectedNode}"
                        src="/plugins/model-error-analysis/resource/img/100.png"
                        ng-mouseover="zoomBackHovered = true"
                        ng-mouseleave="zoomBackHovered = false"
                        ng-click="selectedNode && zoomBack()"
                        height="20px">
                    </img>
                </div>
            </div>
        </div>
        <div class="tree" ng-class="{'tree--no-selection': loadingTree || !selectedNode && !hideExploreInfo}" ng-mouseover="hideExploreInfo = true" ng-mouseleave="hideExploreInfo = false">
            <div class="empty-panel"
                 ng-if="loadingTree || !selectedNode && !hideExploreInfo">
                    <p class="empty-panel__title">Select a node</p>
                    <p>Drag and zoom to explore the tree</p>
            </div>
            <spinner ng-if="loadingTree"></spinner>
        </div>
    </div>
</div>
