<div class="template" ng-controller="MeaController" ng-click="featureSelectorShown && interactWithFeatureSelector()" ng-keydown="featureSelectorShown && event.keyCode === 27 && interactWithFeatureSelector()" tabindex="0">
    <div class="node-panel no-shrink-no-grow" ng-include="'/plugins/model-error-analysis/resource/templates/node-panel.html'"></div>
    <div class="tree-visualization">
        <div class="toolbar-header">
            <div class="toolbar-header__row">
                <div class="metrics">
                    <div class="metric">
                        <div class="metric__value" ng-show="actualErrorRate">{{ toFixedIfNeeded(100*actualErrorRate, 2, true) }}%</div>
                        <div class="metric__value" ng-show="!actualErrorRate">&hellip;%</div>
                        <div>
                            Original model error rate
                        </div>
                    </div>
                </div>
            </div>
            <div class="toolbar-header__row">
                <div class="tree-legend-container">
                    <div class="tree-legend">
                        <div class="tree-legend_item">
                            <svg height="100%" width="32px">
                                <g>
                                    <path id="edge-legend" d="M0,0 C0,12 24,12 24,28"></path>
                                    <text>
                                        <textPath href="#edge-legend" startOffset="50%">X</textPath>
                                    </text>
                                </g>
                            </svg>
                        </div>
                        <div class="tree-legend-desc">
                            <div class="tree-legend-desc__title">Fraction of total error</div>
                            <div>(wrong predictions in node samples / total number of wrong predictions)</div>
                        </div>
                    </div>
                    <div class="tree-legend">
                        <div class="tree-legend_item tree-legend_pie">
                            <svg height="100%" width="32px"></svg>
                        </div>
                        <div class="tree-legend-desc">
                            <div class="tree-legend-desc__title">Local error</div>
                            <div>(wrong predictions in node samples / number of node samples)</div>
                        </div>
                    </div>
                </div>
                <div class="toolbar-header__row toolbar-header__icon-row">
                    <div class="icons-div">
                        <img class="zoom-icon"
                            src="/plugins/model-error-analysis/resource/img/fit.png"
                            ng-mouseover="zoomFitHovered = true"
                            ng-mouseleave="zoomFitHovered = false"
                            ng-click="zoomFit()"
                            height="20px">
                        </img>
                        <img class="zoom-icon"
                            ng-class="{'zoom-icon--disabled': !selectedNode}"
                            src="/plugins/model-error-analysis/resource/img/100.png"
                            ng-mouseover="zoomBackHovered = true"
                            ng-mouseleave="zoomBackHovered = false"
                            ng-click="selectedNode && zoomBack()"
                            height="20px">
                        </img>
                    </div>
                </div>
            </div>
        </div>
        <div class="tree" ng-class="{'tree--no-selection': loadingTree || !selectedNode && !hideExploreInfo}" ng-mouseover="hideExploreInfo = true" ng-mouseleave="hideExploreInfo = false">
            <div class="zoom-description" ng-if="zoomBackHovered || zoomFitHovered">
                {{ zoomBackHovered ? 'Zoom on selected node' : ''}}{{ zoomFitHovered ? 'See whole tree' : ''}}
            </div>
            <div class="empty-panel"
                 ng-if="loadingTree || !selectedNode && !hideExploreInfo">
                    <p class="empty-panel__title">Select a node</p>
                    <p>Drag and zoom to explore the tree</p>
            </div>
            <spinner ng-if="loadingTree"></spinner>
        </div>
    </div>
</div>
